
<style>
  .country-container {
    position: relative;
    align-items: center;
    background-image: url('.{{country.photo}}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  .title-container {
  position: relative;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.7;
  width: 60%;
  height: 100%;
  margin: auto;
  text-align: center;
  }
  .review-container {
  position: relative;
  overflow: scroll;
  height: 85%;
  text-align: left;
  }
  .review {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  }
</style>

<div class="country-container">
  <div class="title-container">
    <h1>{{country.name}}</h1>
    <h2>Reviews about {{country.name}}</h2>
    <div class="review-container">
      {{#each reviews}}
      <div class="review">
        <p>Rating: {{rating_stars this.rating}} by {{this.user.username}}</p>
        <p>Review: {{this.content}}</p>
      </div>
      {{/each}}
    </div>
  </div>

</div>
