<div class="container-fluid bg-light text-center py-5">
  <h1 class="mb-5 display-4" style="padding-top: 1em;">Top 3 Rating Destinations</h1> 
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm">
        <a href="/country/{{statTop1.country_id}}">
          <img src="{{countryTop1.country.photo}}" class="card-img-top img-fluid">
        </a>
        <div class="card-body">
          <h2 class="card-title h5 mb-3">{{countryTop1.country.name}}</h2>
          <p class="card-text mb-3">{{countryTop1.country.description}}</p>
          <h3 class="card-title h6 mb-3">Users rating: {{statTop1.rating}} {{rating_stars statTop1.rating}}</h3>
          <div class="homepage-overflow">
            {{#each reviewsTop1 as |top1|}}
            {{> homepage-reviews}}
          {{/each}}
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm">
        <a href="/country/{{statTop2.country_id}}">
          <img src="{{countryTop2.country.photo}}" class="card-img-top img-fluid">
        </a>
        <div class="card-body">
          <h2 class="card-title h5 mb-3">{{countryTop2.country.name}}</h2>
          <p class="card-text mb-3">{{countryTop2.country.description}}</p>
          <h3 class="card-title h6 mb-3">Users rating: {{statTop2.rating}} {{rating_stars statTop2.rating}}</h3>
          <div class="homepage-overflow">
            {{#each reviewsTop2 as |top2|}}
            {{> homepage-reviews}}
          {{/each}}
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm">
        <a href="/country/{{statTop3.country_id}}">
          <img src="{{countryTop3.country.photo}}" class="card-img-top img-fluid">
        </a>
        <div class="card-body">
          <h2 class="card-title h5 mb-3">{{countryTop3.country.name}}</h2>
          <p class="card-text mb-3">{{countryTop3.country.description}}</p>
          <h3 class="card-title h6 mb-3">Users rating: {{statTop3.rating}} {{rating_stars statTop3.rating}}</h3>
          <div class="homepage-overflow">
            {{#each reviewsTop3 as |top3|}}
            {{> homepage-reviews}}
          {{/each}}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
