{{!--This is for "/" (homepage) --}}
<div class="container text-center">
<div class="row align-items-center">
<h1>Top 3 Rating Destinations</h1> 

{{!-- container 1 --}}
<div class="col-md-4">
<h2>No.1 Destination: {{countryTop1.country.name}}</h2>
<div class="description-box" style="height: 250px; overflow-y: auto;">
    <p>{{countryTop1.country.description}}</p><br>
</div>
<img src="{{countryTop1.country.photo}}"class="img-fluid">

<h3>Reviews [Ave. rating: {{statTop1.rating}} {{rating_stars statTop1.rating}}] [No. of reviews: {{statTop1.count}}]</h3>

{{#each reviewsTop1 as |top1|}}
{{> homepage-reviews}}
{{/each}}
</div>
{{!-- container 2 --}}
<div class="col-md-4">
<h2>No.2 Destination: {{countryTop2.country.name}}</h2>
<div class="description-box" style="height: 250px; overflow-y: auto;">
<p>{{countryTop2.country.description}}</p><br>
</div>
<img src="{{countryTop2.country.photo}}" class="img-fluid">

<h3>Reviews [Ave. rating: {{statTop2.rating}} {{rating_stars statTop2.rating}}] [No. of reviews: {{statTop2.count}}]</h3>

{{#each reviewsTop2 as |top2|}}
{{> homepage-reviews}}
{{/each}}
</div>
{{!-- container 3 --}}
<div class="col-md-4">
<h2>No.3 Destination: {{countryTop3.country.name}}</h2>
<div class="description-box" style="height: 250px; overflow-y: auto;">
<p>{{countryTop3.country.description}}</p><br>
</div>
<img src="{{countryTop3.country.photo}}" class="img-fluid">

<h3>Reviews [Ave. rating: {{statTop3.rating}} {{rating_stars statTop3.rating}}] [No. of reviews: {{statTop3.count}}]</h3>

{{#each reviewsTop3 as |top3|}}
{{> homepage-reviews}}
{{/each}}
</div>
</div>
</div>

